<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Página Não Encontrada</title>
    <link rel="stylesheet" th:href="@{/css/error/error-page.css}">
</head>
<body>
<div>
    <h1>Oops! Página não encontrada.</h1>
    <p>A página que você está procurando não existe.</p>
    <a href="/">Voltar para a página inicial</a>
    <img src="https://www.prestashop.com/sites/default/files/wysiwyg/404_not_found.png" alt="imagem de um gatinho informando que a imagem não foi encontrada">
</div>

</body>
</html>